* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  outline: none;
  border: none;
}

:root {
  --chatbot-bg: whitesmoke;
  --primary: #003856;
}

body {
  min-height: 100vh;
  background-color: #4f5d73;
}

.header {
  background: white;
  padding: 2em;
}

/* chat box section */

.chat-box {
  width: 400px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  margin: 2em auto;
}

/* about client */

.client {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: var(--primary);
  padding: 8px 0 8px 20px;
}

.client img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-left: 1em;
}

.client-info {
  align-items: center;
  display: flex;
  color: white;
}

.client-info p {
  font-weight: bold;
  font-size: 0.8em;
}

/* chat section */

.chats {
  height: 415px;
  padding: 10px 10px 75px 10px;
  overflow: scroll;
  background: var(--chatbot-bg);
}

.customer-chat,
.chatbot-chat {
  width: 60%;
  word-wrap: break-word;
  border-radius: 5px;
  padding: 10px 12px;
}

.customer-chat {
  color: white;
  background-color: var(--primary);
  margin: 8px auto 8px 0;
}

.chatbot-chat {
  background-color: #cdcdcdc7;
  margin: 8px 0 8px auto;
  color: black;
}

/* input section */

.chat-input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 65px;
  background: var(--chatbot-bg);
  padding: 15px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}

.chat-input input {
  width: calc(100% - 40px);
  height: 100%;
  background-color: #4f5d7321;
  border-radius: 50px;
  color: #000;
  font-size: 1em;
  padding: 0 15px;
}

.chat-input input::placeholder {
  font-size: 0.95em;
}
.send-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.send-btn:active {
  transform: scale(0.85);
}

.send-btn img {
  width: 100%;
  height: 100%;
}

/* chat box button section */

.chat-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  bottom: 20px;
}

.chat-btn img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  transition: 0.4s ease-in-out;
}

.chat-btn:hover img {
  transform: rotate(30deg);
}
